.reveal, .reveal .slides, .reveal p, .reveal h1, .reveal h2, .reveal h3, .reveal li{ font-family: 'Fira Sans Condensed', sans-serif; font-weight: 200; }

h1.title {
  line-height: 90px;
  color: rgb(150,60,80);
}

h2.author {
}
h2.date {
  font-size: 10px;
  line-height: 90px;
}

.columns { display: flex; gap: 20px; }
.column { flex: 1; }
.column img {
  width: 100%;
  height: auto;
}
